<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441303913141-flb81djaoqrf1ehf0nog56dkqsea1vsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441303913141-flb81djaoqrf1ehf0nog56dkqsea1vsm</string>
	<key>API_KEY</key>
	<string>AIzaSyDm-39cXgYIp6Rbs5Xg_szVpHWDUzKIDMI</string>
	<key>GCM_SENDER_ID</key>
	<string>441303913141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ostep.AutoParkKg</string>
	<key>PROJECT_ID</key>
	<string>autoparkkg-b92f5</string>
	<key>STORAGE_BUCKET</key>
	<string>autoparkkg-b92f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441303913141:ios:c3eadf77e065f0d5bd24fc</string>
</dict>
</plist>